body {
    background: linear-gradient(45deg, rgb(173, 247, 243), rgb(253, 138, 247));
}
nav {
    position: fixed;
    top: 0px;
    height: 10%;
    width: 100%;
    color: aqua;
}
#mypic {
    float: center;
}