body {
    background: linear-gradient(45deg, rgb(173, 247, 243), rgb(253, 138, 247));
}
nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color:rgb(250, 228, 102);
    border-style: solid;
    border-width: 5px;
    padding: 15px;
}
#mypic {
    top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
}
ul {
    list-style-type: none;
}
li {
    display: inline-block;
    margin: 20px;
    color: black;
}
#intro {
    display: block;
    text-align: center;
}