body {
    background: linear-gradient(45deg, rgb(173, 247, 243), rgb(253, 138, 247));
}
nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color:rgb(206, 83, 255);
}
#mypic {
    float: center;
    max-width: 50%;
    max-height: 50%;
}