body {
    top: 50px;
    background: linear-gradient(45deg, rgb(173, 247, 243), rgb(253, 138, 247));
}
nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color:rgb(250, 228, 102);
    border-style: solid;
    border-width: 5px;
    padding: 15px;
}
#navigation-link {
    margin: 20px;
    color: black;
}